- if current_user && params[:id].to_i != current_user.id
 - if current_user.following?(todo_list)
  = render :partial => 'shared/unfollow', :object => todo_list, :as => :todo_list 
 - else
  = render :partial => 'shared/follow', :object => todo_list, :as => :todo_list 
